<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project3" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tamu-theme", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <% bootstrap_class =
          case key.to_sym
          when :notice then "text-success border-success"
          when :alert  then "text-danger border-danger"
          else "text-secondary border-secondary"
          end
      %>

      <div class="position-fixed top-0 start-50 translate-middle-x mt-3 
                  bg-white border rounded-3 shadow-lg px-4 py-3 
                  z-3 <%= bootstrap_class %>" 
          style="max-width: 450px; width: 90%;">
        <%= message %>
      </div>
    <% end %>



    <%= yield %>
  </body>
</html>
